.contenedor{
    border: 5px solid #e1bee7;
    background-color: #38620b;
    display: grid;
    grid-auto-rows: 150px ;
    grid-template-columns: 150px 150px;
    gap: 30px;
    height: 600px;
    justify-content: center;
    align-content: center;
}

.item{
    background-color: #abd800;
    display: grid;
    place-items: end;
}

.item span{
    background-color: #5fa71c;
    width: 30px;
    height: 50px;
}

.center{
    position: absolute;
    display: grid;
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 30px;
    background-color: #1f3207;
} 

